{
  "printWidth": 100,
  "htmlWhitespaceSensitivity": "ignore",
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": true,
  "trailingComma": "none",
  "semi": false,
  "endOfLine": "crlf",
  "vueIndentScriptAndStyle": true
}
